In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('moviereviews.tsv', sep = '\t')

df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [ ]:
#DROP NULL RECORDS
df.dropna(inplace=True)

In [ ]:
#DROP EMPTY STRINGS
blanks = []

for index, label, review in df.itertuples():
    if(type(review) == str):
        if (review.isspace()):
            blanks.append(index)
            
df.drop(blanks, inplace=True)

In [ ]:
#VALUE COUNTS
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [ ]:
#SENTIMENT ANALYSIS USING VADER
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

/Users/kpandey/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'
/Users/kpandey/anaconda3/envs/nlp_course/lib/python3.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [ ]:
#ADD SCORES COLUMN
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [ ]:
df

In [8]:
df['predicted_label'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [ ]:
sid.predicted_scores('I loved that movie')

,label,review,scores,compound,predicted_label
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [10]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [13]:
#ACCURACY
100*accuracy_score(df['label'], df['predicted_label'])

#LOTS OF SARCASM IN THE REVIEWS WHICH IS HARD TO DETECT
#DICHOTOMY IN REVIEWS TOUGH TO DETERMINE BY VADER

#TF-IDF CAN HELP CREATE BETTER CLASSIFICATION MODELS FOR EVEN POSITIVE VS NEGATIVE SENTIMENT ANALYSIS

63.673890608875126

In [14]:
print(classification_report(df['label'], df['predicted_label']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [15]:
print(confusion_matrix(df['label'], df['predicted_label']))

[[427 542]
 [162 807]]